### q1-write an dicatnary

In [3]:
dict1 ={}
dict1

{}

### q2-dicatnory values

In [10]:
dict1 ={1:'A',2:'B'}
dict1

{1: 'A', 2: 'B'}

In [11]:
#dictanry with multiple datatypes
dict2={1:'A',"AB":2,'$':"XY1"}
dict2

{1: 'A', 'AB': 2, '$': 'XY1'}

In [12]:
#new elemet of dictnaroy
dict1[3]="ABC"
dict1

{1: 'A', 2: 'B', 3: 'ABC'}

In [14]:
#update the value odf dictanary
dict1[1]='XYZ'
dict1

{1: 'XYZ', 2: 'B', 3: 'ABC'}

In [18]:
#empty dictarnary
dict2.clear()
dict2

{}

In [20]:
for key,value in dict1.items():
    print(key,value)

1 XYZ
2 B
3 ABC

In [23]:
#chnaging the value of dicatonary
d1={1:'A',2:'B'}
d2={3:'C', 4:'D'}
d3={5:'E',6:'F'}
d4={}
for d in d1,d2,d3:
    d4.update(d)
d4

{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E', 6: 'F'}

### q9-nested dicatnary

In [28]:

d1={1:'A',2:'B',3:('C','D'),4:['E','F','G','H'], 5:{'a':1,'b':2,'c':3}}
d1

{1: 'A',
 2: 'B',
 3: ('C', 'D'),
 4: ['E', 'F', 'G', 'H'],
 5: {'a': 1, 'b': 2, 'c': 3}}

### q 10-searching the words

In [29]:

d2={1:'A',21:'B'}
d2[1]
d2[21]
if 21 in d2:
    print("Element Present")

Element Present

### q11-print a table of 5

In [43]:
d1={}
for k in range(1,11):
    d1[k]=5*k
d1

{1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45, 10: 50}

### q13-print square of key in range (1,10)

In [48]:
d2={}
for k in range (1,11):
    d1[k]=k*k
d1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### q14display factorial key in the range (1,11)

In [59]:
d3={}
fact=1
for k in range (1,10):
    fact=1
    for i in range(1,k+1):
        fact=fact*i
    d3[k]=fact
d3

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120, 6: 720, 7: 5040, 8: 40320, 9: 362880}

### q15-print sum of values in dictinary

In [61]:
d1={'A':20,'B':60 , 'C':120}
d1['D']=d1['A']+d1['B']+d1['C']
d1

{'A': 20, 'B': 60, 'C': 120, 'D': 200}